<link rel="stylesheet" href="/assets/css/about.css"/>
<div class="about">
    <h2 class="about--header">EXCITING TOURS FOR ADVENTUROUS PEOPLE</h2>
    <div class="about--sheet">
        <div class="about--desc">
            <div class="about--desc-detail">
                <h4 class="about--desc-header">YOU'RE GOING TO FALL IN LOVE WITH NATURE</h4>
                <div class="about--desc-quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui. </div>
            </div>
            <div class="about--desc-detail">
                <h4 class="about--desc-header">LIVE ADVENTURES LIKE YOU NEVER HAVE BEFORE</h4>
                <div class="about--desc-quote" style="margin-bottom:50px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nulla deserunt voluptatum nam.</div>
                <a class="about--button" href="#">Learn more <i class="fas fa-arrow-right    "></i></a>
            </div>
        </div>
        <div class="about--picture-group">
            <img class="about--picture1" src="/assets/Picture-About/nat-1.jpg" alt="Picture 1"/>
            <img class="about--picture2" src="/assets/Picture-About/nat-2.jpg" alt="Picture 2"/>
            <img class="about--picture3" src="/assets/Picture-About/nat-3.jpg" alt="Picture 3"/>
        </div>
    </div>
</div>